//========================== global

html {

    overflow-y: scroll; font-size: 100%; font-family: $sans; background: url(../images/diag.gif) no-repeat left top fixed; line-height: 1.5; color: #353232; }

body { min-height: 100%; float: left; width: 100%; font-size: 1em; color: #353232; }

section { @include center;  }


.footer { text-align: center }

:focus { outline: 0 }

.clear { clear: both }

.hide { display: none; }

//========================== nav 

.topnav { position: fixed; top: 0px; padding: 15px 0 0 0; background: #fff url(../images/header_bg.gif) repeat-x bottom left; width: 100%; text-align: center; z-index: 999; }

.main-menu {

    @include center;
    
    ul { 

        margin: 0; padding: 0; position: relative;

        li { 

            list-style: none; display: inline; font-family: $serif; font-size: 1.4em; 

            a { 

                padding: 24px; margin-top: 0px; text-transform: uppercase; color: #949494; 

                &:hover { color: $primary; text-decoration: none; }
            }

            &.selected a { color: $primary; text-decoration: none; }

            .logo { 

                position: relative; padding: 20px; 

                img { margin-bottom: -10px; }
            }

        }

    }

}

.mobile { display: none; }

//========================== figures & images

img, figure img, figure object, figure embed { margin-bottom: .75em; max-width: 100%; }

img {

    &.stamp { max-width: 100px; }

    #home &, #portfolio & { box-shadow: 0 2px 2px #777; }

    .title_header & { float: left; margin-right: 10px; }


}

    //========================== thumbnail grid

    .thumbnail-list {

        min-height: 329px; margin: 0; padding: 0;

        li {
            
            float: left; width: 47%; list-style: none; display: inline; margin-bottom: 2em; padding: 0 12px;

            // &:nth-child(odd) { padding-right: 2em; }

            img { 

                max-width: 100%; float: left; border: 1px solid #ccc; opacity: 0.7;

                &:hover { opacity: 1.0; @include vendor-prefix(transition, ease-in-out (0.5s)); }
        
            }
        }
    }

ul {
    
    &.splitter { 

        width: 100%; margin: 0px 0 0px 7px; padding: 0 0 40px 0; 

        li { 

            display: inline; 
            
            a { padding: 4px 10px }

            ul { 

                float: right; 

                li { margin-right: 2px }
            }

            &.selected-0 a,
            &.selected-1 a,
            &.selected-2 a,
            &.selected-3 a,
            &.selected-4 a {

                color: $primary; background: #fff; padding: 4px 10px; -moz-border-radius: 4px; o-border-radius: 4px; border-radius: 4px;
        
            }

        }
    
    }

}


//========================== columns

.columns { width: 100%; float: left; margin-bottom: 1.25em; }

.one_half { width: 48.5% }

.one_third { width: 31.3% }

.two_third { width: 65.64% }

.one_fourth { width: 22.69% }

.three_fourth { width: 74.2% }

.one_fifth { width: 16.8% }

.one_sixth { width: 14% }

.two_fifth { width: 37.6% }

.three_fifth { width: 58.4% }

.four_fifth { width: 67.2% }

.five_sixth { width: 82.67% }

.one_half,
.one_third,
.two_third,
.three_fourth,
.one_fourth,
.one_fifth,
.two_fifth,
.three_fifth,
.four_fifth,
.one_sixth,
.five_sixth {
    
    position: relative; margin-right: 3%; float: left; margin-bottom: 2.25em; }

.last { margin-right: 0 !important; clear: right; }

//========================== twitter widget

.tweet_list { 
    
    list-style: none;  margin: 0; padding: 0;
    
    li { margin-bottom: 2em; }
}

.tweet_avatar { display: none; }
