/*--------------------------
QUICKSAND
---------------------------*/

#filter { display: none }
#filter {
    margin-top: 20px;
    text-align: center;
    padding: 0;
    position: relative;
    z-index: 1000;
    float: right;
}
    #filter #top {
        background: url(../images/filter.png) no-repeat;
        width: 200px;
        height: 38px;
        cursor: pointer;
    }
    #filter a,
    #filter a:hover {
        display: block;
        text-decoration: none;
        padding: 10px 40px 0 15px;
        color: #353232;
    }
    #filter ul {
        display: none;
        position: absolute;
        top: 38px;
        left: 5px;
        width: 188px;
        margin: 0;
        padding: 0;
        background: #e4e4e4;
        border: 1px solid #9e9e9e;
        text-align: left;
    }
        #filter ul li,
        #filter #top { list-style: none }
            #filter ul li a,
            #filter ul li a:hover {
                padding: 5px 10px;
                border-bottom: 1px solid #ddd;
                color: #7b7b7b;
            }
            #filter ul li a:hover {
                color: #353232;
                background: #eaeaea;
            }
        #filter ul li:last-child a { border: none }