@media handheld and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 767px) { 
  
  html { overflow-y: scroll; font-size: 100%; font-family: Helvetica,Arial, sans-serif; line-height: 1.5; background: #fff; color: #353232; }

  body { min-height: 100%; background: #fff; float: left; width: 100%; font-size: .8125em; color: #353232; }

  .topnav { position: fixed; top: 0px; padding: 0px 0; background: #fff url(../images/header_bg.gif) repeat-x bottom left; width: 100%; text-align: center; z-index: 77; margin-bottom: 0em; }

  .main-menu {

    max-width: 100%; margin: 0 auto; padding: 0;

    ul { 

        margin: 0; padding: 0; width: 100%; 

        li { 

            list-style: none; display: block; font-family: $serif; margin-top: 70px; display: none; 

            a { padding: 10px; margin-top: 0px; text-transform: uppercase; }

            .logo { padding: 20px 0 }

        }

        .logo-wrap { width: 100px; margin: 10px auto; padding-bottom: 25px; display: block !important; }
    }
  }

  .main-menu ul .logo-wrap .logo img { max-width: 100% }
  
  .one_half,
  .one_third,
  .two_third,
  .three_fourth,
  .one_fourth,
  .one_fifth,
  .two_fifth,
  .three_fifth,
  .four_fifth,
  .one_sixth,
  .five_sixth {
      
      position: relative; margin-right: 3%; display: block!important; width: 100%!important; margin-bottom: 10px!important; padding-bottom: 0px!important; float: none!important; }
  
  .splitter { display: none; }

  .thumbnail-list {

    li { float: none; width: 100%; }
  
  }

}

@media handheld and (max-width: 479px), screen and (max-device-width: 479px), screen and (max-width: 479px) { 
  html {
      overflow-y: scroll;
      font-size: 100%;
      font-family: Helvetica,Arial, sans-serif;
      line-height: 1.5;
      background: #fff;
      color: #353232;
  }
  body {
      min-height: 100%;
      background: #fff;
      float: left;
      width: 100%;
      font-size: .8125em;
      color: #353232;
  }

  .one_half,
  .one_third,
  .two_third,
  .three_fourth,
  .one_fourth,
  .one_fifth,
  .two_fifth,
  .three_fifth,
  .four_fifth,
  .one_sixth,
  .five_sixth {
      position: relative;
      margin-right: 3%;
      display: block!important;
      width: 100%!important;
      margin-bottom: 10px!important;
      padding-bottom: 0px!important;
      float: none!important;
  }

  .main-menu ul .logo-wrap .logo img { max-width: 100% }

  .splitter { display: none; }

  .thumbnail-list {

    li { float: none; width: 100%; }
  
  }
}