$sans: Helvetica, Arial, sans-serif;
$serif: 'PodkovaRegular', Times, serif;
$blockquote: Georgia, 'Times New Roman', Times, serif;

@font-face {
    font-family: 'PodkovaRegular';
    src: url('../fonts/Podkova-Regular-webfont.eot');
    src: url('../fonts/Podkova-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Podkova-Regular-webfont.woff') format('woff'), url('../fonts/Podkova-Regular-webfont.ttf') format('truetype'), url('../fonts/Podkova-Regular-webfont.svg#PodkovaRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 { margin-bottom: 1em; font-family: $serif; color: #353232; }

h1 { 
    
    font-size: 2em; 

    &.intro { 
        font-family: $serif; color: #5f5f5f; font-size: 2em; line-height: 1.2; text-align: center; margin-bottom: 1.5em; padding: 225px 30px 0 30px; max-width: 978px; margin: 0 auto; }

}

h2 { 

	font-size: 1.375em;

	&.section-title {
    
    	background: url(../images/stripe_bg.gif) repeat-x center left; font-size: 1.4em; text-align: center; width: 100%; color: #5f5f5f; margin: 4em 0 1em 0;

    	span {  background: #fff; padding: 0 20px; font-family: $serif; text-transform: uppercase; }

	}

}

h3 { font-size: 1.296em; }

h4 { font-size: 1.234em; }

ul, ol { 
    
    margin: 0 0 1.5em 20px; line-height: 1.5em; 

    ul, ol { margin: 0 0 0 20px }
}

ul {
    .post_list {
    
        list-style: none;
        
        .title { background: none; }
    }
}

a {

    color: #949494; text-decoration: none;

    &:visited { opacity: 0.8; @include vendor-prefix(transition, ease-in-out (0.5s)); }

    &:hover { text-decoration: none; color: $primary; @include vendor-prefix(transition, ease-in-out (0.5s)); }

    &:active, &:focus { outline: none; }
}

dl { margin-bottom: 1.5em }

dt { font-weight: bold }

dt:after { content: ":" }

dt::after { content: ":" }

dd { margin-left: 60px }

q, i, em, cite { font-style: italic; font-weight: inherit; }

b, strong { font-weight: bold; font-style: inherit; }

mark { background: #ffc }

del { text-decoration: line-through }

small { font-size: 0.75em; line-height: 1; }

abbr, acronym { font-style: italic; cursor: pointer; color: #777; cursor: help; }

pre, code { font-family: monospace; font-size: 1.1em; }

pre { overflow: auto; margin-bottom: 1.5em; line-height: 20px; }

code { line-height: 1 }

blockquote { 

	text-indent: -0.4em; margin-left: 0.4em; font-family: $blockquote; font-style: italic; 

	p { line-height: 1.5; color: #5c5c5c; }
    
    b, &.source { margin-top: 20px; display: block; text-indent: 0; color: #888; }

}
   
pre, p, ul, ol { margin-bottom: 20px }

figcaption { color: #ccc9c3; font-size: 12px; text-align: center; }

p { margin-bottom: 1.5em; color: #353232; line-height: 1.6em; }

.site-title { color: $primary }
