#top-border,
#bottom-border,
#left-border,
#right-border {
    
    position: fixed; z-index: 10; background: #f0f0f0; display: block; z-index: 99; 

}


#left-border,
#right-border {
    
    top: 0; bottom: 0; width: 10px;

}

#left-border { left: 0 }
#right-border { right: 0 }

#top-border,
#bottom-border {

    left: 0; right: 0; height: 10px;

}

#top-border { top: 0 }

#bottom-border { bottom: 0 }