extends master

block content
  header.topnav
    .center
      a#logo(href='http://propercursive.com/', title='Proper Cursive')
        img.stamp(src='images/logo.png', alt='Proper Cursive')
      .clear
  section#home.content
    .center
      h1#intro(style='margin-top: 2em;') 
        | The page you requested is missing, which is strange because there is really only 
        a(href='http://propercursive.com', title='Home') one page &rarr; 
        | on this site.    
      .clear