extends master

block content
  header.topnav
    nav.main-menu(role='navigation')
      ul
        li
          a(href='#main') Home
        li
          a(href='#work') Work
        li.logo-wrap
          a.logo(href='#main', title='Proper Cursive')
            img.stamp(src='images/logo.png', alt='Proper Cursive')
        li
          a(href='#info') About
        li
          a(href='#contact') Contact

  article#main
    h1.intro
      | Hello World! Welcome to
      span.site-title  Proper Cursive
      | , the interactive design &amp; development studio of Ryan Watkins-Hughes.
    .clear
    
    //- section#latest
    //-   h2.section-title
    //-     span Latest
    //-   ul.thumbnail-list
    //-     li
    //-       a(href='http://flashpoint.gatech.edu/', rel='featured_group')
    //-         img(src='images/flashpoint.png', alt='Flashpoint at GA Tech')
    //-     li
    //-       a(href='http://shopdropping.net/', rel='featured_group')
    //-         img(src='images/shopdropping.png', alt='Shopdropping')
    //-     li
    //-       a(href='http://lewdicro.us/', rel='featured_group')
    //-         img(src='images/lewd.png', alt='Lewdicrous')
    //-     li
    //-       a(href='http://spaces-expose.herokuapp.com/', rel='featured_group')
    //-         img(src='images/cac.png', alt='Spaces - Expose')
    //- .clear

    section#focus
      h2.section-title
        span Focus
      .columns
        .one_fourth
          .title_header
            h2 Multimedia
          p
            | Proper Cursive is an interdisciplinary studio — combining a love of design, technology, art, photography, and visual communication — to create contemporary interactive solutions and exciting design.
        .one_fourth
          .title_header
            h2 User-Centered Design
          p
            | Interface design should enhance the experience of the user without drawing unnecessary attention to itself. My first priority is to make the user's experience as simple and enjoyable as possible. The design process should balance technical functionality and visual elements to create a system that is intuitive, usable, and adaptable to changing user needs.
        .one_fourth
          .title_header
            h2 Web Development
          p
            | Like any finely tuned engineering project, a website depends on performance, scalability, reliability and interoperability. Without a proper engine the beautifully restored classic is merely a show piece, not a real sports car. In the end, it is impossible to separate the design of a website from the technology that makes it work. 
        .one_fourth.last
          .title_header
            img(src='images/icon_4.png')
            h2 Mobile First
          p
            | It is likely that within the next few years, more users will connect to the Internet using mobile devices than desktop computers. This will have a profound impact on how websites are planned, designed, and built.
    .clear
    
    section#work
      h2.section-title
        span Projects

      ul#list.thumbnail-list     
        li.web.cms(data-id='id-1')
          a(href='http://flashpoint.gatech.edu/', rel='featured_group')
            img(src='images/flashpoint.png', alt='Flashpoint at GA Tech')
        
        li.web.graphic.branding(data-id='id-2')
          a(href='http://shopdropping.net/', rel='featured_group')
            img(src='images/shopdropping.png', alt='Shopdropping')
        
        li.web.graphic.branding(data-id='id-3')
          a(href='http://lewdicro.us/', rel='featured_group')
            img(src='images/lewd.png', alt='Lewdicrous')
        
        li.web.graphic.branding(data-id='id-4')
          a(href='http://spaces-expose.herokuapp.com/', rel='featured_group')
            img(src='images/cac.png', alt='Spaces - Expose')

        li.web.graphic.branding.cms(data-id='id-5')
          a(href='http://fairused.tumblr.com/', rel='featured_group')
            img(src='images/fu.png', alt='Fair & Used')
        
        li.web.graphic(data-id='id-6')
          a(href='https://github.com/propercursive/Flatstrap', rel='featured_group')
            img(src='images/flatstrap.png', alt='Flatstrap')
        //- li.web.cms(data-id='id-3')
        //-   a(href='http://www.holytrinitypreschool.org/', rel='image_group')
        //-     img(src='images/trinity.png', alt='Holy Trinity Parish Preschool')
        
        li.web.cms(data-id='id-7')
          a(href='http://see-stclaude.tumblr.com/', rel='featured_group')
            img(src='images/ssc.png', alt='See St. Claude')
        
        li.web(data-id='id-8')
          a(href='https://github.com/propercursive/node-express-html5boilerplate', rel='featured_group')
            img(src='images/express.png', alt='Node HTML 5 Boilerplate')
        
        li.web.graphic.branding(data-id='id-9')
          a(href='http://special-ellipse.com', rel='featured_group')
            img(src='images/ellipse.png', alt='Special Ellipse')
        
        li.web.graphic(data-id='id-10')
          a(href='http://watkinshughes.com', rel='image_group')
            img(src='images/rwh.png', alt='Ryan Watkins-Hughes')
        
        li.av(data-id='id-11')
          a(href='http://vimeo.com/17983604', rel='image_group')
            img(src='images/que.png', alt='Que Sera Sera')
        
        li.av(data-id='id-12')
          a(href='http://vimeo.com/17888337', rel='image_group')
            img(src='images/ink.png', alt='Ink')
        
        li.av(data-id='id-13')
          a(href='http://vimeo.com/9627824', rel='image_group')
            img(src='images/dada.png', alt='Dada Astaire')
        
        li.web(data-id='id-14')
          a(href='http://nightofjoybar.com', rel='image_group')
            img(src='images/noj.png', alt='Night of Joy')
        
        li.web.cms(data-id='id-15')
          a(href='http://www.kevinhjones.com', rel='image_group')
            img(src='images/jones.png', alt='Kevin Jones')
        
        //- li.web(data-id='id-16')
        //-   a(href='http://thedoveparlour.com', rel='image_group')
        //-     img(src='images/dove.png', alt='The Dove')
   

    .clear
    
    section#info
      h2.section-title
        span Information
      
      h2 Continuous Progression
      .columns
        .one_half
          p
            em Web projects are never finished.
            |  Likewise, creative professionals should always be searching for innovative solutions and learning new strategies.
          p
            | While a one-page site such as this could easily be built with standard HTML, 
            | Proper Cursive doubles as a learning lab and is built with an array of exciting technologies.
          //- p
          //-   | (A previous version of this site, ported from the original PHP
          //-   | to Ruby on Rails, can be viewed 
          //-   a(href='http://proper-rails.heroku.com/', rel='archive') here.)
        .one_half.last
          ul
            li
              a(href='http://nodejs.org', rel='image_group') Node.js
            li
              a(href='http://expressjs.com', rel='image_group') Express
            li
              a(href='http://jade-lang.com', rel='image_group') Jade
            li
              a(href='http://lesscss.org', rel='image_group') Less
            li
              a(href='http://html5boilerplate.com', rel='image_group') HTML5 Boilerplate
            li
              a(href='http://www.heroku.com', rel='image_group') Heroku
      h2 Experience
      .columns
        .one_half
          p 
            | Presentation Layer Engineer, 
            a(href='http://www.razorfish.com/') Razorfish
            br
            em (March 2013 - Present)
          p 
            | Principal, Proper Cursive
            br
            em (May 2009 - Present)
          p 
            | Manager, Web Development, 
            a(href='http://www.teachforamerica.org/') Teach For America
            br
            em (May 2011 - March 2013)
        .one_half.last
          p 
            | Marketing Director, Computrols, Inc.
            br
            em (2010 - 2011)
          p 
            | Assistant Adjunct Professor, Tulane University.
            br
            em (2009 - 2011)
          p 
            | Senior Interactive Designer,
            a(href='http://www.bermangrp.com/') The Berman Group
            br
            em (2006 – 2008) 
          p
            a(href='http://www.linkedin.com/in/propercursive/') More &rarr;
        
      h2 Skills
      .columns
        .one_fourth
          ul
            li UX/UI
            li Responsive Design
            li Mobile Development
            li Adobe Creative Suite
            li Photography
            li Typography
            li Web Standards
            li Accessibility
        .one_fourth
          ul
            li HTML5
            li CSS3
            li jQuery
            li JS
            li PHP/MYSQL
            li Ruby on Rails
            li Git
        .one_fourth.last
          ul
            li Drupal
            li Wordpress
            li Joomla!
            li Refinery CMS
            li Concrete5
            li Brightcove Video Platform
        .one_fourth
          ul
            li Mac OS
            li Windows
            li LAMP
            
      h2 Education
      ul
        li MFA, Digital Media, Tulane University, New Orleans, LA
        li BFA, Painting, Pratt Institute, Brooklyn, NY
    .clear
    
    section#contact
      h2.section-title
        span Get in touch
      .columns
        .two_third
          h3 Contact
          p Phone/Skype: Upon request
          p Email:&nbsp;
            script
              mail('ryan','propercursive',0,'')
          p Atlanta, GA                     
          img(class='map', src='images/atl-map.png', alt='Map')
        .one_third.last
          a.twitter-timeline(href='https://twitter.com/propercursive', data-widget-id='316590694586261505', height='440') Tweets by @propercursive
              script
                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

        //
            h3 
              a(href='https://twitter.com/#!/propercursive', title='Twitter') 
                @propercursive 
              | on twitter
            .tweet.query
            p
              a(href='https://twitter.com/#!/propercursive', title='Twitter') More &rarr;

block scripts
  script(src='js/libs/jquery.min.js')
  script(src='js/all.min.js')