!!! 5
//if lt IE 7
  <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
//if IE 7
  <html class="no-js lt-ie9 lt-ie8" lang="en">
//if IE 8
  <html class="no-js lt-ie9" lang="en">
//[if gt IE 8]><!
html(class='no-js', lang='en')
  //<![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title #{title} 
    link(rel='canonical', href='http://propercursive.com')
    link(type='text/plain', rel='author', href='humans.txt')
    meta(name='google-site-verification', content='eqB9-xnEh3Ay9YCP0sP_owvom4g84Dpj8ppMkDbfs5E')
    meta(name='description', content='Proper Cursive is the interactive design and development studio of Atlanta-based artist Ryan Watkins-Hughes.')
    meta(name='author', content='Ryan Watkins-Hughes')
    meta(name='viewport', content='width=device-width,initial-scale=1,user-scalable=no')
    meta(name='keywords', content='web design, web development, Atlanta-based web design')
    meta(name='author', content='Ryan Watkins-Hughes for http://propercursive.com')
    meta(property='og:title', content='Proper Cursive')  
    meta(property='og:site_name', content='Proper Cursive')
    meta(property='og:description', content='Proper Cursive is the interactive design and development studio of Atlanta-based artist Ryan Watkins-Hughes.')
    link(rel='stylesheet', href='css/styles.css')
    script(src='js/libs/modernizr.min.js')
    script
      function swapper(a){var b="";for(var c=0;c<a.length;c+=2)if(c+1==a.length)b+=a.charAt(c);else b+=a.charAt(c+1)+a.charAt(c);return b.replace(/\\?/g,".")}function e(a,b,c){var d=a+a_;if(c!=-2){d+=b;if(c>=0)d+=d_+tld_[c]}else d+=swapper(b);return d}function mail2(a,b,c,d,f){document.write('<a href="'+m_+e(a,b,c)+d+'">'+f+"</a>")}function mail(a,b,c,d){var f=e(a,b,c);document.write('<a href="'+m_+f+d+'">'+f+"</a>")}var tld_=new Array;tld_[0]="com";tld_[1]="org";tld_[2]="net";tld_[3]="ws";tld_[4]="info";tld_[10]="co.uk";tld_[11]="org.uk";tld_[12]="gov.uk";tld_[13]="ac.uk";var topDom_=13;var m_="mailto:";var a_="@";var d_="."
    script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-15932521-1']);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  body 
    block content
    block scripts
    