/* 
RWH - Proper Cursive
To Do: Move custom LESS here from style.less
*/

/* Typography*/
@sans: Helvetica, Arial, sans-serif;
@serif: 'PodkovaRegular', Times, serif;
@blockquote: Georgia, 'Times New Roman', Times, serif;


@import url("reset.less");
@import url("default.less");

.hide {
	display: none;
}
ul.post_list {
	list-style: none;
		.title {
			background: none;
		}
}
.tweet_list { 
	list-style: none; 
	margin: 0;
		li {
			margin-bottom: 2em;
		}
}
.tweet_avatar { 
	display: none; 
}